  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h3><%=noticia[0].titulo%></h3>
            <p class="subheading"><%=noticia[0].resumo%></p>
            <span class="meta">Postado por
              <a href="#"><%=noticia[0].autor%></a>
              em  <%=noticia[0].data_noticia%></span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">